<section class="form" id="contacts">
    <div class="container">
        <div class="form__wrapper">
            <div class="form__container">
                <h3 class="form__container-title">Text review</h3>
                <form class="form contact-form" id="form">
                    <div class="label__wrapper">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" id="name" name="name" type="text" required placeholder="Name" />
                    </div>
                    <div class="label__wrapper">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" id="email" name="email" type="email" required placeholder="Email" />
                    </div>
                    <div class="label__wrapper">
                        <label class="form-label" for="message">Message</label>
                        <textarea class="form-control form-textarea" id="message" name="message" required
                            placeholder="Messages"></textarea>
                    </div>
                    <button class="form-btn" type="submit">Send</button>
                </form>
            </div>
            <div class="form__info">
                <h2 class="form__info-title">Looking for an excellent business idea?</h2>
                <div class="form__info-subtitle">Give us a call or email anytime, we strive to answer all inquiries
                    within 24 hours on business days.</div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__social">
                <a class="disabled" href="/">
                    <img src="../images/facebook.svg" alt="facebook">
                </a>
                <a class="disabled" href="/">
                    <img src="../images/instagram.svg" alt="instagram">
                </a>
                <a class="disabled" href="/">
                    <img src="../images/twitter.svg" alt="twitter">
                </a>
            </div>
            <div class="footer__info">
                <div class="footer__info-date">
                    ©<span>
                        <script type="text/javascript">document.write(new Date().getFullYear());</script>
                    </span> Name | ALL RIGHTS RESERVED
                </div>
                <ul class="footer__info-privacy">
                    <li class="footer__info-list">
                        <a class="disabled" href="/">Private Policy</a>
                    </li>
                    <li class="footer__info-list">
                        <a class="disabled" href="/">Term of Use</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</section>
<script src="js/main.min.js"></script>
</body>

</html>